/* Fixes highlighting of active page links in nav bar. */
.navbar .nav > .active > a {
    -webkit-box-shadow: inset 0 0px 0px rgba(0, 0, 0, 0.125);
    -moz-box-shadow: inset 0 0px 0px rgba(0, 0, 0, 0.125);
    box-shadow:inset 0 0px 0px rgba(0, 0, 0, 0.125);
}


.navbar .container {
    width: 970px;
}


/* Fixes spacing issue between IPython input history and code cell 
     on some browsers. */
div.prompt {
    width: auto;
}
